<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header th:insert="blocks/header"></header>

<form method="post" th:action="${'/blog/comments/filter/result'}">
    <input type="text" name="fullText">
    <button type="submit">Найти</button>
    <div th:each="el : ${result}">
        <p th:text="${el.surname + ' ' + el.name + ' ' + el.middlename}"></p>
        <p th:text="${el.fullText}"></p>
        <p th:text="${el.getDate()}"></p>
    </div>
</form>
</body>
</html>