<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<header th:insert="/blocks/header"/>
<div th:if="${#messages}">
    <p th:text="${message}"></p>
</div>
<style>
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>
<form th:action="@{/registration}" method="post" class="center">
    <h1 class="h2 mb-3 fw-normal" th:align="center">Регистрация нового пользователя</h1>
    <div class="col-md-12">
        <input type="text" class="form-control" name="username" placeholder="Логин">
    </div>
    <br/>
    <div class="col-md-12">
        <input type="text" class="form-control" name="password" placeholder="Пароль">
    </div>
    <br/>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Регистрация</button>
    <a href="/login">Уже есть аккаунт? Войти</a>
</form>
</body>
</html>