<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="">
<header th:insert="blocks/header"></header>

<h1>Все пользователи</h1>

<a href="/blog/users/add" class="btn btn-warning">Добавить пользователя</a>
<a href="/blog/users/filter" class="btn btn-success">Поиск пользователя</a>

<div class="b-example-divider"></div>
<div th:each="user : ${users}">
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-text" th:text="${user.getSurname() + ' ' + user.getName() + ' ' + user.getMiddlename}"></h3>
                <a th:href="@{/blog/users/{id}(id=${user.getId()})}" class="btn btn-success">Подробнее</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>