<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<style>
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
</style>
<header th:insert="/blocks/header"/>
<form method="post" class="center" th:object="${user}">
  <h1 class="h2 mb-3 fw-normal">Добавить пользователя</h1>
  <div class="col-md-12">
    <input type="text" class="form-control" th:field="*{surname}" name="surname" placeholder="Фамилия">
    <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
  </div>
  <br/>
  <div class="col-md-12">
    <input type="text" class="form-control" th:field="*{name}" name="name" placeholder="Имя">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
  </div>
  </br>
  <div class="col-md-12">
    <input type="text" class="form-control" th:field="*{middlename}" name="middlename" placeholder="Отчество">
    <div style="color: red" th:if="${#fields.hasErrors('middlename')}" th:errors="*{middlename}"></div>
  </div>
  <br/>
  <div class="col-md-12">
    <input type="date" class="form-control" th:field="*{dateOfBirth}" name="dateOfBirth" placeholder="Дата рождения">
    <div style="color: red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></div>
  </div>
  <div class="col-md-12">
    <select name="university" th:field="*{universities}">
      <div th:each="element : ${universities}">
        <option th:text="${element.name}"></option>
      </div>
    </select>
  </div>
  <div class="col-md-12">
    <select name="street" th:field="*{address}">
      <div th:each="element : ${address}">
        <option th:text="${element.street}"></option>
      </div>
    </select>
  </div>
  <div class="col-md-12">
    <select name="number" th:field="*{passport}">
      <div th:each="element : ${passport}">
        <option th:text="${element.number}"></option>
      </div>
    </select>
  </div>
  <br/>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Добавить пользователя</button>
</form>
</body>
</html>